<div class="main-wrap">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Item Code</th>
      <th>Item Description</th>
      <th>Unit Price</th>
      <th>QTY On Hand</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tempItem of items; index as num">
      <td>{{tempItem.code}}</td>
      <td>{{tempItem.description}}</td>
      <td>{{tempItem.unitPrice}}</td>
      <td>{{tempItem.qtyOnHand}}</td>
    </tr>
    </tbody>
  </table>
</div>
<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>
