<div class="main-wrap">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Customer ID</th>
      <th>Total</th>
      <th>Order Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tempOrder of orders; index as num">
      <td>{{tempOrder.customer.id}}</td>
      <td>{{tempOrder.total}}</td>
      <td class="row-width"><button class="btn btn-primary btn-sm" (click)="openOrderDetail(tempOrder.customer.id, tempOrder.total, tempOrder.items)">Order Details</button></td>
    </tr>
    </tbody>
  </table>
</div>
<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>

